<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       classpath:org/springframework/beans/factory/xml/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       classpath:org/springframework/context/config/spring-context-4.3.xsd">

    <!--扫描@Service-->
    <context:component-scan base-package="online.resume.server"/>

</beans>